.category-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #242725;
}

.category {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category:nth-child(odd) {
  background-color: #bbb; /* Cor para categorias ímpares */
}

.category:nth-child(odd) .category-title{
  color: #242725;
  font-weight: bold;
}

.category:nth-child(even) {
  background-color: #242725; /* Cor para categorias pares */
}

.category:nth-child(even) .product-title{
  color: #242725;
  font-size: 30px;
  font-weight: bold;
}

.category:nth-child(even) .product-price{
  color: #242725;
  font-size: 20px;
  font-weight: bold;
}

.category-title {
  margin: 10px 120px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  padding-top: 20px;
}

.titulo-barra-category {
  width: 150px;
  height: 6px;
  background-color: #ff6700;
  margin: 10px 120px;
  border-radius: 20px;
}

.product-list {
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 20px 100px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
}

.product-card {
  background-color: #242725;
  color: #fff;
  width: 300px;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category:nth-child(even) .product-card {
  background-color: #bbb; /* Cor para produtos ímpares */
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

.product-price {
  text-align: center;
  font-size: 1rem;
  color: #bbb;
}

.boxbtnDetalheProduto {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btnVerDestalheProduto {
  width: 200px;
  background-color: #242725;
  border: 2px solid #ff6700;
  border-radius: 10px;
  color: #ff6700;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnVerDestalheProduto:hover {
  background-color: #333;
}
