/* Estilos gerais */
.boxScroll {
  width: 100%;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #333;
}

.boxTitulo {
  display: flex;
  width: 100%;
  height: 100px;
}

.containerTitulo {
  width: 80%;
  height: auto;
}

.titulo {
  text-align: left;
  font-size: 40px;
  color: #fff;
  margin: 0px 30px 10px 60px;
}

.titulo-barra {
  width: 150px; /* Comprimento da barra */
  height: 6px; /* Altura da barra */
  background-color: #ff6700; /* Cor laranja */
  margin: 0px 30px 30px 60px; /* Espaço abaixo da barra */
  border-radius: 20px;
}

.linkTodasCategoria {
  width: 20%;
  margin-right: 40px;
  text-align: right;
  align-content: center;
}

.linkTodasCategoria a {
  text-decoration: none;
  color: #ff6700;
  font-size: 20px;
}

/* Estilos das categorias */
.scrollCategoria {
  margin: 0px 30px 0px 60px;
  height: 300px;
  display: flex;
  gap: 20px;
  overflow-x: hidden; /* Sem scroll em desktop */
  scrollbar-color: transparent transparent;
  user-select: none;
}

.scrollCategoria.mobile {
  overflow-x: auto; /* Scroll em dispositivos móveis */
}

.scrollCategoria.mobile::-webkit-scrollbar {
  height: 6px; /* Scroll menor em mobile */
  background-color: transparent;
}

.container {
  margin: 0px 20px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}

.containerTitulo {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.containerImage {
  margin-top: 20px;
  padding: 0px 5px;
}

.containerImage img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Ajusta a proporção da imagem */
  border-radius: 100px; /* Arredonda os cantos */
}

/* Ajustes específicos para dispositivos móveis */
@media (max-width: 768px) {
  .scrollCategoria {
    margin: 0; /* Remove margens para economizar espaço */
    overflow-x: auto; /* Permite scroll horizontal */
  }

  .linkTodasCategoria {
    display: none; /* Esconde o link "Mais Categorias" em mobile */
  }

  .titulo {
    font-size: 24px; /* Reduz o tamanho da fonte */
    margin: 0px 15px 10px 30px; /* Ajusta margens */
  }

  .titulo-barra {
    margin: 0px 15px 20px 30px; /* Ajusta margens da barra */
  }

  .containerImage img {
    width: 150px; /* Ajusta largura das imagens */
    height: 150px;
  }
}
